@import 'variables';
@import 'mixins';
@import 'functions';

.stores {
  &__label {
    font-family: $font-heading;
    font-size: rem(56px);

    margin-bottom: rem(12px);
  }

  &__list {
    display: flex;
    gap: rem(32px);
    flex-wrap: wrap;
  }

  &__card {
    position: relative;

    min-height: rem(400px);
    width: rem(320px);

    border: 1px solid $color-border;
    border-radius: rem(24px);

    overflow: hidden;

    &--add {
      @include flex(center, center, column);
      gap: rem(24px);
      cursor: pointer;

      & span:first-child {
        font-size: rem(40px);
        color: $color-primary;
      }
    }

    &--store {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &-header {
      @include flex(center, center, column);
      min-height: rem(180px);
      background-color: $color-primary;
      color: $color-black;
      font-weight: 500;
    }

    &-body {
      @include flex(stretch, center, column);
      gap: 4px;
      padding: rem(20px);
      font-size: rem(15px);
      height: 100%;

      & p:first-child {
        margin-bottom: 4px;
      }

      & p:nth-child(2) {
        color: $color-primary;
      }

      & p:nth-child(3) {
        color: $color-muted;
        margin-bottom: rem(16px);
      }

      & div {
        @include flex(center);
        gap: 8px;

        & div {
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background-color: var(--green-500);
        }
      }

      & p:last-child {
        margin-top: auto;
        padding: 2px 6px;
        width: fit-content;
        border-radius: 2px;
        background-color: $color-primary;
        color: $color-black;
        font-weight: 500;
      }
    }

    &-link {
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: rem(24px);
      }
    }
  }
}
