@import 'mixins';
@import 'variables';
@import 'functions';

.home {
  &__hero {
    position: relative;

    max-width: $bp-largest;
    margin: 0 auto;
    padding: rem(12px) 0;

    &-img {
      width: 100%;
      height: rem(400px);

      object-fit: cover;
      border-radius: rem(12px);
    }

    &-title {
      @include center-absolute;

      font-family: $font-heading;
      font-size: rem(64px);
    }
  }
}
