@import 'variables';
@import 'mixins';
@import 'functions';

.auth {
  margin: 0 auto;
  padding: $section-padding;
  max-width: $bp-largest;
  height: calc(100vh - $header-height);

  display: flex;
  align-items: center;
  justify-content: center;

  &__header {
    font-size: rem(32px);
  }

  &__subheader {
    color: $color-muted;
    margin-bottom: rem(32px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
  }

  &__form-group {
    @include form-group;
  }

  &__info-text {
    margin-top: rem(24px);
    font-size: rem(14px);

    &--link {
      color: $color-primary;
      text-decoration: underline;
      text-underline-offset: rem(4px);
      cursor: pointer;
    }
  }
}
