@import 'variables';
@import 'mixins';
@import 'functions';

.store {
  display: flex;
  gap: rem(48px);

  &__menu {
    width: fit-content;
    padding: rem(12px) rem(24px) rem(12px) 0;

    &-group {
      @include flex(stretch, flex-start, column);
      gap: rem(12px);
    }
  }
}
