@import 'variables';
@import 'mixins';
@import 'functions';

.header {
  height: $header-height;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include container;

    height: 100%;
    padding: 0 rem(32px);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: rem(32px);
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;

    font-family: $font-primary;
    font-weight: 600;
    font-size: rem(26px);
  }

  &__nav {
    display: flex;
    gap: rem(12px);

    &-link {
      color: $color-white-hover;
      transition: 0.3s;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: rem(16px);
  }
}

.icon {
  font-size: rem(18px);
  color: $color-primary;
  cursor: pointer;
}
