@import 'functions';

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(8px);
}

@mixin container {
  max-width: $bp-largest;
  margin: 0 auto;
}

@mixin flex($align: stretch, $justify: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin gradient-primary {
  background: linear-gradient(to right, var(--indigo-500), var(--primary-700));
}

@mixin upload-link {
  font-size: rem(15px);
  text-decoration: underline;
  text-underline-offset: rem(4px);
  cursor: pointer;
}
