@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin container {
  max-width: $bp-largest;
  margin: 0 auto;
}

@mixin flex-between($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
}

@mixin gradient-primary {
  background: linear-gradient(to right, var(--indigo-500), var(--primary-700));
}
