<div class="first-store">
  <form
    [formGroup]="createStoreForm"
    (ngSubmit)="createStore()"
    class="first-store__form"
  >
    <div class="first-store__wrapper">
      <h3 class="first-store__form-label">Let's build your store</h3>
      <div class="first-store__form-group">
        <label for="storeName">Store name</label>
        <input
          id="storeName"
          type="text"
          pInputText
          formControlName="storeName"
        />
      </div>
      <button
        pButton
        label="Create store"
        class="first-store__form-button"
        type="submit"
      ></button>
    </div>
    <div class="first-store__upload-cover">
      <p class="first-store__upload-cover-label">Cover photo</p>
      <span pButton label="Upload" class="p-button-secondary"></span>
    </div>
  </form>
  <div class="store-showcase">
    <div class="store-showcase__title-bar">
      <div class="store-showcase__buttons">
        <div class="store-showcase__button store-showcase__button--red"></div>
        <div
          class="store-showcase__button store-showcase__button--yellow"
        ></div>
        <div class="store-showcase__button store-showcase__button--green"></div>
      </div>
      <p class="store-showcase__title">BuyAt.store</p>
      <div style="width: 48px"></div>
    </div>
    <div class="store-showcase__screen">
      <div class="store-showcase__page">
        <div class="store-showcase__page-header">
          <p class="store-showcase__page-logo">BuyAt.store</p>
          <p class="store-showcase__page-btn">
            <span class="pi pi-shopping-bag" style="font-size: 16px"></span>
            <span class="">0</span>
          </p>
        </div>
        <div class="store-showcase__page-section">
          <img
            [src]="showcaseCover"
            alt="Showcase Cover Image"
            class="store-showcase__page-img"
          />
          <p class="store-showcase__page-title">BuyAt.store</p>
        </div>
        <div class="store-showcase__page-section">
          <p class="store-showcase__page-label">Featured products</p>
          <div class="store-showcase__page-products">
            <div class="store-showcase__page-product"></div>
            <div class="store-showcase__page-product"></div>
            <div class="store-showcase__page-product"></div>
            <div class="store-showcase__page-product"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
