@import 'variables';
@import 'functions';

.products {
  max-width: $bp-largest;
  margin: 0 auto;
  padding: rem(24px) 0;

  &__list {
    display: flex;
    gap: rem(12px);
    flex-wrap: wrap;
  }
}
