<header class="header">
  <div class="header__container">
    <div class="header__left" *ngIf="config$ | async as config">
      <a class="header__logo" [routerLink]="'/'">{{ config.title }}</a>
      <nav class="header__nav" *ngIf="config.categories.length">
        <a
          class="header__nav-link"
          *ngFor="let category of config.categories"
          [routerLink]="'/category/' + category.slug"
          >{{ category.name }}</a
        >
      </nav>
    </div>
    <div class="header__right">
      <a class="header__cart-button">
        <span class="pi pi-shopping-bag" style="font-size: 16px"></span>
        <span class="">{{ count$ | async }}</span>
      </a>
    </div>
  </div>
</header>
