@import 'variables';
@import 'functions';

.header {
  border-bottom: 1px solid $color-border;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $bp-largest;
    margin: 0 auto;

    padding: $section-padding;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: rem(32px);
  }

  &__logo {
    font-family: $font-primary;
    font-weight: 600;
    font-size: rem(22px);
  }

  &__nav {
    display: flex;
    gap: rem(12px);

    &-link {
      color: $color-white-hover;
      transition: 0.3s;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__cart-button {
    font-size: rem(18px);
    color: $color-black;

    display: flex;
    align-items: center;
    gap: 4px;

    background-color: $color-white;
    padding: rem(10px) rem(20px);
    border-radius: $rounded-full;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $color-white-hover;
    }
  }
}
