@import 'variables';
@import 'functions';

.header {
  border-bottom: 1px solid $color-border;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $bp-largest;
    margin: 0 auto;

    padding: $section-padding;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: rem(32px);
  }

  &__logo {
    font-family: $font-primary;
    font-weight: 600;
    font-size: rem(22px);
  }

  &__nav {
    display: flex;
    gap: rem(12px);

    &-link {
      color: $color-white-hover;
      transition: 0.3s;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__cart-button {
    font-size: rem(18px);
    color: $color-black;

    display: flex;
    align-items: center;
    gap: 4px;

    background-color: $color-white;
    padding: rem(10px) rem(20px);
    border-radius: $rounded-full;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $color-white-hover;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  padding: rem(8px) rem(16px);

  &__title {
    margin-bottom: rem(16px);
  }
}

.item {
  display: flex;
  gap: rem(12px);

  &__image {
    width: rem(100px);
    height: rem(100px);
    object-fit: cover;
    border-radius: rem(6px);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }

  &__name {
    font-weight: 500;
  }

  &__quantity {
    color: $color-muted;
  }

  &__change-quantity {
    display: flex;
    gap: rem(6px);
    margin-top: rem(4px);
  }

  &__button {
    border: 1px solid $color-muted;
    border-radius: 100%;
    padding: rem(4px);
    font-size: rem(12px);
    transition: all 0.3s;
    cursor: pointer;

    &:first-child {
      color: var(--green-500);

      &:hover {
        border-color: var(--green-500);
      }
    }

    &:last-child {
      color: var(--red-500);

      &:hover {
        border-color: var(--red-500);
      }
    }
  }
}

:host ::ng-deep {
  .p-sidebar-header button {
    margin: rem(8px) rem(8px) 0 auto;
  }
}
