@import 'variables';
@import 'mixins';
@import 'functions';

.dashboard {
  padding: rem(24px) 0;
  height: calc(100vh - $header-height);

  &__container {
    @include container;

    padding: $section-padding;
    height: 100%;
  }
}
