@import 'variables';
@import 'functions';
@import 'mixins';

.store-main {
  flex: 1;
}

.heading {
  margin-bottom: rem(36px);

  &__label {
    font-size: rem(18px);
    font-weight: 600;

    margin-bottom: rem(8px);
  }

  &__sublabel {
    font-size: rem(15px);
    color: $color-muted;
  }
}

.learn {
  @include flex(center);
  gap: rem(24px);

  &__box {
    flex: 1;
    border: 1px solid $color-border;
    border-radius: rem(12px);
    height: rem(140px);
    @include flex(center, center, column);
    gap: rem(16px);
    color: $color-muted;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $color-border;
    }
  }

  &__icon {
    font-size: rem(24px);
  }
}
