<div class="store-main">
  <h2 class="store-main__heading">
    <span style="font-size: 20px">🎉</span> Congratulations, your store is now
    live!
  </h2>
  <span class="store-main__subheading"
    >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit nemo
    exercitationem neque inventore. Iure vel fugiat cum obcaecati laborum
    explicabo tempore libero, adipisci et eius sapiente cumque blanditiis ipsum
    excepturi! Consectetur eveniet sed hic possimus vitae deserunt ullam et
    doloribus.</span
  >
  <p>{{ store?.name }}</p>
</div>
