<app-section heading="Categories" subheading="Manage your store categories">
  <p-table [value]="categories">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Bilboard</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.bilboard }}</td>
        <td>{{ category.createdAt | date }}</td>
        <td>
          <div class="categories__actions">
            <span
              (click)="openDialog(category.id)"
              class="pi pi-file-edit categories__action-btn"
            ></span>
            <span
              (click)="deleteCategory(category.id)"
              class="pi pi-trash categories__action-btn"
            ></span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <span>
        In total there are {{ categories ? categories.length : 0 }} categories.
      </span>
    </ng-template>
  </p-table>

  <button
    pButton
    label="New category"
    class="categories__button"
    (click)="openDialog()"
  ></button>
</app-section>

<p-dialog
  header="{{ editId ? 'Edit' : 'Add' }} category"
  [(visible)]="dialogVisible"
>
  <form
    [formGroup]="categoryForm"
    (ngSubmit)="editId ? editCategory() : addCategory()"
    class="form"
  >
    <div class="form__group">
      <label for="name">Category name</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        placeholder="Shoes"
      />
    </div>
    <div class="form__group">
      <label for="bilboard">Bilboard</label>
      <input
        id="bilboard"
        type="text"
        pInputText
        formControlName="bilboard"
        placeholder="Awesome shoes"
      />
    </div>

    <div class="form__group form__group--list" formArrayName="attributes">
      <label for="bilboard">Attributes</label>
      <div
        class="form__list"
        *ngFor="
          let attr of attributes.controls;
          let i = index;
          let firstAttr = first;
          let lastAttr = last
        "
        [formGroupName]="i"
      >
        <input
          type="text"
          pInputText
          [placeholder]="firstAttr ? 'Size' : ''"
          formControlName="name"
        />
        <div class="form__list">
          <div
            class="form__group--sided"
            *ngFor="
              let option of options(i).controls;
              let j = index;
              let firstOption = first;
              let lastOption = last
            "
            formArrayName="options"
          >
            <span
              *ngIf="lastOption"
              class="pi pi-plus form__plus-icon"
              (click)="addOption(i)"
            ></span>
            <input
              type="text"
              pInputText
              [class]="
                lastOption ? 'form__field--icon' : 'form__field--no-icon'
              "
              [placeholder]="firstOption && firstAttr ? '43' : ''"
              [formControlName]="j"
            />
          </div>
        </div>
      </div>
      <span class="form__add-attr" (click)="addAttribute()"
        >Add new attribute</span
      >
    </div>

    <button
      pButton
      label="{{ editId ? 'Edit' : 'Add' }} category"
      type="submit"
    ></button>
  </form>
</p-dialog>
