@import 'mixins';
@import 'functions';
@import 'variables';

:host ::ng-deep {
  .p-datatable-header {
    background-color: transparent;
  }

  .p-datatable-footer {
    background-color: transparent;
    border: none;
  }

  .p-datatable-thead tr th {
    background-color: transparent;
  }

  .p-datatable-tbody tr {
    background-color: transparent;
  }

  .p-dropdown {
    width: 100%;
  }

  .p-dialog-content {
    overflow-x: hidden;
  }
}

.categories {
  &__button {
    width: fit-content;
  }

  &__actions {
    display: flex;
    gap: rem(12px);
  }

  &__action-btn {
    font-size: rem(18px);
    cursor: pointer;
  }
}

.form {
  @include flex($direction: column);
  gap: rem(12px);
  width: rem(400px);

  &__group {
    @include form-group;

    &--list {
      display: flex;
      flex-direction: column;
      gap: rem(8px);
    }

    &--sided {
      display: flex;
      align-items: center;
      gap: rem(8px);
    }

    & input {
      width: 100%;
    }
  }

  & button {
    margin-top: rem(24px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }

  &__field {
    &--icon {
      margin-left: rem(62px);
    }
    &--no-icon {
      margin-left: rem(86px);
    }
  }

  &__plus-icon {
    cursor: pointer;
  }

  &__add-attr {
    font-size: rem(14px);
    text-decoration: underline $color-primary;
    text-underline-offset: rem(3px);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}
