@import 'mixins';
@import 'functions';

:host ::ng-deep {
  .p-datatable-header {
    background-color: transparent;
  }

  .p-datatable-footer {
    background-color: transparent;
    border: none;
  }

  .p-datatable-thead tr th {
    background-color: transparent;
  }

  .p-datatable-tbody tr {
    background-color: transparent;
  }

  .p-dropdown {
    width: 100%;
  }
}

.categories {
  &__button {
    width: fit-content;
  }

  &__actions {
    display: flex;
    gap: rem(12px);
  }

  &__action-btn {
    font-size: rem(18px);
    cursor: pointer;
  }
}

.form {
  @include flex($direction: column);
  gap: rem(12px);
  width: rem(400px);

  &__group {
    @include form-group;

    & input {
      width: 100%;
    }
  }

  & button {
    margin-top: rem(24px);
  }
}
