@import 'mixins';
@import 'functions';
@import 'variables';

:host ::ng-deep {
  .p-datatable-header {
    background-color: transparent;
  }

  .p-datatable-footer {
    background-color: transparent;
    border: none;
  }

  .p-datatable-thead tr th {
    background-color: transparent;
  }

  .p-datatable-tbody tr {
    background-color: transparent;
  }

  .p-dropdown {
    width: 100%;
  }
}

.categories {
  &__button {
    width: fit-content;
  }

  &__actions {
    display: flex;
    gap: rem(12px);
  }

  &__action-btn {
    font-size: rem(18px);
    cursor: pointer;
  }
}

.form {
  @include flex($direction: column);
  gap: rem(12px);
  width: rem(400px);

  &__group {
    @include form-group;

    &--array {
      display: flex;
      flex-direction: column;
      gap: rem(8px);
    }

    &--sided {
      display: flex;
      align-items: center;
      gap: rem(8px);
    }

    & input {
      width: 100%;
    }
  }

  & button {
    margin-top: rem(24px);
  }

  &__array {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }

  &__subarray {
    margin-left: rem(86px);
  }

  &__subgroup {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
  }

  &__sub-icon {
    margin-right: rem(64px);
  }

  &__plus {
    cursor: pointer;
  }
}
