<div class="customization">
  <app-section heading="Branding" subheading="Customize branding of your store">
    <form
      [formGroup]="customizationForm"
      (ngSubmit)="submitForm()"
      class="customization__form"
    >
      <div class="customization__form-group">
        <label for="storeName">Store name</label>
        <input
          id="storeName"
          type="text"
          pInputText
          formControlName="name"
          class="customization__form-input"
        />
      </div>
      <div class="customization__form-group--sided">
        <div>
          <div>
            <label>Logo</label>
            <label for="logo" class="customization__form-input--upload"
              >Upload logo</label
            >
            <input
              id="logo"
              type="file"
              style="display: none"
              upload
              (onUpload)="handleImage($event, 'logo')"
              (isUploading)="handleLoading($event)"
            />
          </div>
          <span
            *ngIf="store?.logo"
            class="customization__form-input--remove"
            (click)="handleImage('', 'logo')"
            >Remove logo</span
          >
        </div>
        <div class="customization__form-image">
          <img
            [src]="store?.logo || picPlaceholder"
            class="customization__form-image--logo"
          />
        </div>
      </div>
      <div class="customization__form-group--sided">
        <div>
          <div>
            <label>Favicon</label>
            <label for="favicon" class="customization__form-input--upload"
              >Upload favicon</label
            >
            <input
              id="favicon"
              type="file"
              style="display: none"
              upload
              (onUpload)="handleImage($event, 'favicon')"
              (isUploading)="handleLoading($event)"
            />
          </div>
          <span
            *ngIf="store?.favicon"
            class="customization__form-input--remove"
            (click)="handleImage('', 'favicon')"
            >Remove favicon</span
          >
        </div>
        <div class="customization__form-image">
          <img
            [src]="store?.favicon || picPlaceholder"
            class="customization__form-image--icon"
          />
        </div>
      </div>
      <div class="customization__form-group">
        <label for="cover">Cover image</label>
        <div class="customization__upload-cover">
          <div class="customization__upload-cover-bg" *ngIf="store?.coverImage">
            <img [src]="store?.coverImage" />
          </div>
          <label
            for="file-upload"
            pButton
            label="Upload"
            class="p-button-secondary"
          ></label>
          <input
            id="file-upload"
            type="file"
            style="display: none"
            upload
            (onUpload)="handleImage($event, 'coverImage')"
            (isUploading)="handleLoading($event)"
          />
          <span
            *ngIf="store?.coverImage"
            class="customization__form-input--remove"
            (click)="handleImage('', 'coverImage')"
            >Remove cover</span
          >
        </div>
      </div>
      <button
        pButton
        loadingIcon="pi pi-spin pi-sync"
        [loading]="isLoading"
        type="submit"
        label="Save changes"
        class="customization__form-button"
      ></button>
    </form>
  </app-section>

  <app-section heading="Settings" subheading="Modify your store details">
    <form
      [formGroup]="customizationForm"
      (ngSubmit)="submitForm()"
      class="customization__form"
    >
      <div class="customization__form-group">
        <label for="slug">Store url</label>
        <input
          id="slug"
          type="text"
          pInputText
          formControlName="slug"
          class="customization__form-input"
        />
      </div>
      <button
        pButton
        loadingIcon="pi pi-spin pi-sync"
        [loading]="isLoading"
        type="submit"
        label="Save changes"
        class="customization__form-button"
      ></button>
    </form>
  </app-section>
</div>

<p-toast></p-toast>
