@import 'variables';
@import 'mixins';
@import 'functions';

.customization {
  @include flex($direction: column);
  gap: rem(64px);
  padding-bottom: rem(64px);

  &__form {
    @include flex($direction: column);
    gap: rem(32px);
    padding: rem(32px) rem(24px);

    border: 1px solid $color-border;
    border-radius: rem(24px);

    &-group {
      @include form-group;

      &--sided {
        @include flex(center, space-between);

        & > div {
          @include flex;
          gap: rem(16px);

          & > div {
            @include form-group;
          }

          & > span {
            margin-top: auto;
          }
        }
      }
    }

    &-input {
      width: 50%;

      &--upload {
        @include upload-link;
        color: $color-primary;
      }

      &--remove {
        @include upload-link;
        position: relative;
        color: $color-destructive;
        z-index: 10;
      }
    }

    &-image {
      &--logo {
        width: rem(64px);
        height: rem(64px);
      }

      &--icon {
        width: rem(32px);
        height: rem(32px);
      }
    }

    &-button {
      width: fit-content;
    }
  }

  &__upload-cover {
    position: relative;
    @include flex(center, center, column);
    gap: rem(8px);
    padding: rem(48px);

    border: 1px dashed $color-border;
    border-radius: rem(24px);
    overflow: hidden;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
