<div class="store-main">
  <div class="heading">
    <h2 class="heading__label">
      <span style="font-size: 20px">🎉</span> Congratulations, your store is now
      live!
    </h2>
    <span class="heading__sublabel"
      >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit nemo
      exercitationem neque inventore. Iure vel fugiat cum obcaecati laborum
      explicabo tempore libero, adipisci et eius sapiente cumque blanditiis
      ipsum excepturi! Consectetur eveniet sed hic possimus vitae deserunt ullam
      et doloribus.</span
    >
  </div>

  <div class="learn">
    <div class="learn__box">
      <span class="learn__icon pi pi-info-circle"></span>
      <span class="learn__label">Learn about BuyAt.store</span>
    </div>
    <div class="learn__box">
      <span class="learn__icon pi pi-clone"></span>
      <span class="learn__label">Learn about store customization</span>
    </div>
  </div>

  <div class="stats">
    <div class="stats__box">
      <div class="stats__box-header">
        <span class="stats__box-label">Total revenue</span>
        <span class="stats__box-icon pi pi-dollar"></span>
      </div>
      <span class="stats__box-amount">$1,125.00</span>
    </div>
    <div class="stats__box">
      <div class="stats__box-header">
        <span class="stats__box-label">Sales</span>
        <span class="stats__box-icon pi pi-credit-card"></span>
      </div>
      <span class="stats__box-amount">+12</span>
    </div>
    <div class="stats__box">
      <div class="stats__box-header">
        <span class="stats__box-label">Products in stock</span>
        <span class="stats__box-icon pi pi-box"></span>
      </div>
      <span class="stats__box-amount">0</span>
    </div>
  </div>
</div>
