@import 'variables';
@import 'functions';
@import 'mixins';

:host ::ng-deep {
  .p-datatable-header {
    background-color: transparent;
  }

  .p-datatable-footer {
    background-color: transparent;
    border: none;
  }

  .p-datatable-thead tr th {
    background-color: transparent;
  }

  .p-datatable-tbody tr {
    background-color: transparent;
  }

  .p-dropdown {
    width: 100%;
  }
}

.products {
  &__button {
    width: fit-content;
  }

  &__actions {
    display: flex;
    gap: rem(12px);
  }

  &__action-btn {
    font-size: rem(22px);
    cursor: pointer;
  }
}

.form {
  @include flex($direction: column);
  gap: rem(24px);
  width: rem(400px);

  &__group {
    @include form-group;

    & input {
      width: 100%;
    }

    &--sided {
      @include flex;
      gap: rem(32px);
    }
  }

  &__upload {
    @include upload-link;

    &-wrapper {
      @include flex();
      gap: rem(12px);
    }

    &--primary {
      color: $color-primary;
    }

    &--destructive {
      color: $color-destructive;
    }
  }

  &__image {
    margin-left: auto;
    width: rem(64px);
    height: rem(64px);

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
