<app-section
  [heading]="'Products (' + products.length + ')'"
  subheading="Manage your products"
>
  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Featured</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.name }}</td>
        <td>
          <img
            [src]="
              product.image || image || '/assets/images/img-placeholder.png'
            "
            [alt]="product.name"
            width="50"
            height="50"
            style="object-fit: cover; border-radius: 6px"
          />
        </td>
        <td>{{ product.featured ? 'Yes' : 'No' }}</td>
        <td>{{ product.price | currency: 'USD' }}</td>
        <td>{{ product.category }}</td>
        <td>
          <div class="products__actions">
            <span
              (click)="openDialog(product.id)"
              class="pi pi-file-edit products__action-btn"
            ></span>
            <span
              (click)="deleteProduct(product.id)"
              class="pi pi-trash products__action-btn"
            ></span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <span>
        In total there are {{ products ? products.length : 0 }} products.
      </span>
    </ng-template>
  </p-table>

  <button
    pButton
    label="Add product"
    class="products__button"
    (click)="openDialog()"
  ></button>
</app-section>

<p-dialog
  header="{{ editId ? 'Edit' : 'Add' }} product"
  [(visible)]="dialogVisible"
>
  <form
    [formGroup]="productForm"
    (ngSubmit)="editId ? editProduct() : addProduct()"
    class="form"
  >
    <div class="form__group">
      <label for="name">Product name</label>
      <input id="name" type="text" pInputText formControlName="name" />
    </div>
    <div class="form__group">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        rows="4"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form__group">
      <label for="price">Price</label>
      <input id="price" type="number" pInputText formControlName="price" />
    </div>
    <div class="form__group">
      <label for="category">Category</label>
      <p-dropdown
        id="category"
        [options]="categories"
        formControlName="category"
      ></p-dropdown>
    </div>
    <div class="form__group--sided">
      <div class="form__group">
        <label for="quantity">Quantity</label>
        <input
          id="quantity"
          type="number"
          pInputText
          formControlName="quantity"
        />
      </div>
      <div class="form__group">
        <label for="featured">Featured</label>
        <p-selectButton
          [options]="isFeatured"
          formControlName="featured"
        ></p-selectButton>
      </div>
    </div>
    <div class="form__group--sided">
      <div class="form__group">
        <label>Product image</label>
        <div class="form__upload-wrapper">
          <label for="image" class="form__upload form__upload--primary"
            >Upload image</label
          >
          <label
            class="form__upload form__upload--destructive"
            (click)="handleUpload('')"
            *ngIf="image"
            >Remove image</label
          >
          <input
            id="image"
            type="file"
            style="display: none"
            upload
            (onUpload)="handleUpload($event)"
            (isUploading)="handleLoading($event)"
          />
        </div>
      </div>
      <div class="form__image">
        <img [src]="image || 'assets/images/img-placeholder.png'" />
      </div>
    </div>
    <button
      pButton
      label="{{ editId ? 'Edit' : 'Add' }} product"
      type="submit"
      loadingIcon="pi pi-spin pi-sync"
      [loading]="isLoading"
    ></button>
  </form>
</p-dialog>
