* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  font-family: $font-primary;
}

html {
  box-sizing: border-box;
  font-size: rem(14px);

  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-indent: 0;
  list-style-type: none;
}

.main {
  padding: $section-padding;
}
