* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 12px;

  height: 100%;
}

body {
  font-family: $font-primary;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding: $section-padding;
}
