@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.header {
  border-bottom: 1px solid $color-border;

  &__container {
    @include container;
    @include flex(center, space-between);
    height: 59px;

    padding: $section-padding;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;

    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.6rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 16px;

    & > span:first-child {
      text-decoration: underline $color-white;
      text-underline-offset: 4px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        text-decoration: underline $color-primary;
      }
    }
  }
}

.icon {
  font-size: 16px;
  color: $color-primary;
  cursor: pointer;
}
